.about-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(../imgs/breakfast/new.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}
.trial{
    font-size: 40px;
    font-weight: 700;
    opacity: 10px;
}
#cart{
    padding-left: 20px;
    padding-right: 20px;
    overflow-x: Auto;
}
#cart table{
    width: 95%;
  
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width: 70px;
}
#cart table td:nth-child(1){
    width: 100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width: 250px;
    text-align: center;
}
#cart table td:nth-child(4){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width: 150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding: 10px 5px 10px 15px;
}
#cart table thead{
    border: 1px solid #e2e9e1;
    border-left: none;
    border-radius: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}

#cart table tbody  td{
    font-size: 13px;
}
#cart-add{
    margin-top: 90px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#coupon{
    width: 50%;
    margin-bottom: 30px;
}
#coupon h3,
#subtotal h3{
    padding-bottom: 15px;
}
#coupon input{
    height: 40px;
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #000000;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#coupon button,
#subtotal button{
    background-color: #db7806;
    color: #fff;
    padding: 12px 20px;
}
#subtotal{
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}
#subtotal table td{
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 10px;
    font-size: 13px;
}
.pejheda {
    color: rgb(255, 203, 107);
    padding: 20px;
    padding-top: 10px;
    /* background-color: rgba(250, 243, 243, 0.587); */
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.01);
}
#normal{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: -20px;
}